apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - ./sonarr
  - ./radarr
  - ./prowlarr
  - ./profilarr
  - ./decypharr-streaming
  - ./decypharr-download
  - ./nfs
  - ./longhorn
  - ./plex
  - ./pulsarr
  - ./channels-dvr
  - ./pluto-for-channels
  - ./eplustv
  - ./dispatcharr
  - ./teamarr

patches:
  - path: patches/ha-affinity.yaml
    target:
      kind: StatefulSet
      name: "(sonarr|radarr|prowlarr|profilarr|decypharr|pulsarr|channels-dvr)"
  - path: patches/statefulset-strategy.yaml
    target:
      kind: StatefulSet
  - path: patches/disable-service-links.yaml
    target:
      kind: StatefulSet

