apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - ./sonarr
  - ./radarr
  - ./prowlarr
  - ./profilarr
  - ./decypharr-streaming
  - ./decypharr-download
  - ./nfs
  - ./longhorn

