apiVersion: v1
kind: ConfigMap
metadata:
  name: clusterplex-pms-config
  namespace: media
  labels:
    app.kubernetes.io/name: clusterplex-pms-config
    app.kubernetes.io/part-of: clusterplex
data:
  VERSION: docker
  TZ: America/Chicago
  PUID: "1000"
  PGID: "1000"
  DOCKER_MODS: ghcr.io/pabloromeo/clusterplex_dockermod:latest
  ORCHESTRATOR_URL: http://clusterplex-orchestrator:3500
  PMS_SERVICE: clusterplex-pms
  PMS_PORT: "32400"
  TRANSCODER_VERBOSE: "1"
  TRANSCODE_OPERATING_MODE: both
  LOCAL_RELAY_ENABLED: "1"
  LOCAL_RELAY_PORT: "32499"
