apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # ConfigMaps
  - configmap-pms.yaml
  - configmap-orchestrator.yaml
  - configmap-worker.yaml
  
  # PVCs & PVs
  - pvc-pms-config.yaml
  - pvc-transcode.yaml
  - pv-dfs-nfs.yaml
  - pvc-dfs-nfs.yaml
  
  # NFS Server (re-exports /mnt/dfs FUSE mount; scheduled on w1/w2 for HA)
  - service-nfs-server.yaml
  - nfs-server-deployment.yaml
  
  # Plex Media Server
  - service-pms.yaml
  - pms-deployment.yaml
  
  # Orchestrator
  - service-orchestrator.yaml
  - orchestrator-deployment.yaml
  
  # Workers (scheduled on w3 GPU node)
  - service-worker.yaml
  - worker-statefulset.yaml
  
  # Ingress
  - ingress.yaml
