apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: clusterplex
  namespace: media

resources:
  # ConfigMaps
  - configmap-pms.yaml
  - configmap-orchestrator.yaml
  - configmap-worker.yaml
  
  # PVCs & PVs
  - pvc-pms-config.yaml
  - pvc-transcode.yaml
  - pv-dfs-nfs.yaml
  - pvc-dfs-nfs.yaml
  
  # NFS Server (exports /mnt/dfs from host)
  - service-nfs-server.yaml
  - nfs-server-deployment.yaml
  
  # Plex Media Server
  - service-pms.yaml
  - pms-deployment.yaml
  
  # Orchestrator
  - service-orchestrator.yaml
  - orchestrator-deployment.yaml
  
  # Workers
  - service-worker.yaml
  - worker-statefulset.yaml
  
  # Ingress
  - ingress.yaml
