apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # ConfigMaps
  - configmap-pms.yaml
  - configmap-orchestrator.yaml
  - configmap-worker.yaml
  
  # PVCs & PVs
  - pvc-pms-config.yaml
  - pvc-transcode.yaml
  - pv-dfs-nfs.yaml
  - pvc-dfs-nfs.yaml
  # w3 worker static NFS PVs (Longhorn CSI not present on w3)
  - pv-nfs-media-w3.yaml
  - pvc-nfs-media-w3.yaml
  - pv-streaming-media-w3.yaml
  - pvc-streaming-media-w3.yaml
  - pv-transcode-w3.yaml
  - pvc-transcode-w3.yaml
  
  # NFS Server (re-exports /mnt/dfs FUSE mount; scheduled on w1/w2 for HA)
  - service-nfs-server.yaml
  - nfs-server-deployment.yaml
  
  # Plex Media Server
  - service-pms.yaml
  - service-pms-headless.yaml
  - pms-deployment.yaml
  
  # Orchestrator
  - service-orchestrator.yaml
  - service-orchestrator-headless.yaml
  - orchestrator-deployment.yaml
  
  # Workers (scheduled on w3 GPU node)
  - service-worker.yaml
  - worker-statefulset.yaml
  
  # Ingress
  - ingress.yaml
