apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: clusterplex-pms-config
  namespace: media
  labels:
    app.kubernetes.io/name: clusterplex-pms-config
    app.kubernetes.io/part-of: clusterplex
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn-simple
  resources:
    requests:
      storage: 10Gi
