---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: infrastructure-gpu-device-plugin
  namespace: flux-system
spec:
  interval: 5m
  path: ./clusters/homelab/infrastructure/gpu-device-plugin
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: flux-system
