---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: infrastructure-seaweedfs-csi-driver
  namespace: flux-system
spec:
  interval: 1h
  retryInterval: 1m
  timeout: 5m
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: ./clusters/homelab/infrastructure/seaweedfs-csi-driver
  prune: true
  wait: true
  dependsOn:
    - name: infrastructure-seaweedfs
      namespace: flux-system
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      name: seaweedfs-csi-driver
      namespace: seaweedfs-csi-driver
