apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: infrastructure-fencing
  namespace: flux-system
spec:
  interval: 5m
  timeout: 2m
  path: ./clusters/homelab/infrastructure/fencing
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
